---
import Layout from '../layouts/Layout.astro';
import UOBionics from '../components/cases/Bionics/Bionics';
---

<Layout title="uOBionics Case Study - Lauren Hong">
  <div class="w-full">
    <div class="bg-white">
      <div class="max-w-7xl mx-auto px-6">
        <UOBionics client:load />
      </div>
    </div>
</Layout>