---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero';
import ProjectsSection from '../components/home/ProjectsSection';
import PassionProjects from '../components/home/PassionProjects';
---

<Layout title="Lauren Hong - Software Developer & Product Designer">
  <div class="max-w-4xl mx-auto px-4 py-8">
    <Hero client:load />
    <ProjectsSection client:visible />
    <PassionProjects client:visible />
  </div>
</Layout>         