---
import Layout from '../layouts/Layout.astro';
import SolaceCase from '../components/cases/Solace/Solace';
---

<Layout title="Solace Case Study - Lauren Hong">
  <div class="w-full">
    <div class="bg-white">
      <div class="max-w-7xl mx-auto px-6">
        <SolaceCase client:load />
      </div>
    </div>
</Layout>