---
import Layout from '../layouts/Layout.astro';
import Shop from '../components/cases/uOttaShop/Shop';
---

<Layout title="uOttaShop Case Study - Lauren Hong">
  <div class="w-full">
    <div class="bg-white">
      <div class="max-w-7xl mx-auto px-6">
        <Shop client:load />
      </div>
    </div>
</Layout>