---
import Layout from '../layouts/Layout.astro';
import HackathonCaseStudy from '../components/cases/uOttaApp/AppSite';
---

<Layout title="uOttaHack Application Site - Lauren Hong">
  <div class="w-full">
    <div class="bg-white">
      <div class="max-w-7xl mx-auto px-6">
        <HackathonCaseStudy client:load />
      </div>
    </div>
  </div>
</Layout>