---
import Layout from '../layouts/Layout.astro';
import WorkComponent from '../components/work/WorkComponent';
---

<Layout title="My Works">
  <div class="w-full">
    <div class="bg-white">
      <div class="max-w-7xl mx-auto px-6">
        <WorkComponent client:load />
      </div>
    </div>
</Layout>